.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  flex: 0.15;
  background-color: #444444;
  border: 1px solid #b4b4b4;
  overflow-x: hidden;
}

.title {
  margin-bottom: 0;
}
.title:hover {
  color: #007bff;
}
.createButton {
  background-color: transparent;

  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  margin-top: 3%;
  padding: 0;
}

.icon {
  height: 15px;
  width: 15px;
}
.createBoardContainer {
  flex: 1;
  border: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  justify-content: flex-start;
}
