.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 0;
  flex: 0.2;

  border: 1px solid #b4b4b42b;
  overflow-x: hidden;
  text-align: left;
}

.title {
  margin-bottom: 0;
}

.createButton {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}
.icon:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}
.createBoardContainer {
  border: 1px solid #b4b4b42b;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
  overflow-x: hidden;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.input {
  padding: 0.5rem 1rem;
  border: 1px solid #b4b4b42b;
  border-radius: 5px;
  background-color: #444444;
  color: white;
  flex: 1;
  margin: 0;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
