.contextMenu {
  position: absolute;
  background-color: #444444;
  border: 1px solid #b4b4b42b;
  padding: 10px;
  font-size: 14px;
  z-index: 105;
}

.contextMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contextMenu li {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid #b4b4b42b;
}

.contextMenu li:hover {
  background-color: #0056b3;
  color: #f0f0f0;
}
