.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  padding: 1rem;
  min-height: 25vh;
  height: auto;

  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  margin-bottom: 1rem;

  scrollbar-gutter: stable;
}
.container:hover {
  scrollbar-color: #b4b4b4 transparent;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98%;
  padding: 1rem;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  margin-bottom: 1rem;

  scrollbar-gutter: stable;
}

.boardImage {
  height: 15rem;
  width: 30rem;
  border: 1px solid #b4b4b4;
  border-radius: 1rem;
  object-fit: fill;
  margin: 0;
}
.boardImage:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.02);
  color: white;
  transition: all 0.2s ease-in-out;
}
.boardContainer {
  margin: 0.5rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.boardTitle {
  text-align: left;
  margin: 0.5rem;
}
