.navigation {
  display: flex;
  flex-direction: column;
  border: 1px solid #b4b4b42b;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon {
  height: 15px;
  width: 15px;
  margin: 0 1rem;
}

.hide {
  background-color: #444444;
  color: white;
}

.hiddenNavigation {
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  overflow-x: visible;
  justify-content: flex-start;
  align-items: flex-start;
}
