.navigation {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #b4b4b42b;
  
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon {
  height: 15px;
  width: 15px;
  margin: 0 1rem;
}

.hide {
  background-color: #444444;
  color: white;
  margin-left: 1rem;
}

.hiddenNavigation {
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  overflow-x: visible;
  justify-content: flex-start;
  align-items: flex-start;
}
