.navigation {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #b4b4b42b;

  overflow-x: hidden;
  overflow-y: visible;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon {
  height: 15px;
  width: 15px;
  margin: 0 1rem;
}

.hide {
  background-color: #444444;
  color: white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #b4b4b42b;
  width: 100%;
  text-align: left;
}

.hide h6 {
  font-size: 14px;
}

.hiddenNavigation {
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  overflow-x: visible;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropdown {
  display: flex;
  position: fixed;
  top: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #b4b4b42b;

  background-color: #444444;
  z-index: 100;
  padding: 0.5rem;
}

.dropdownHidden {
  display: flex;
  position: fixed;
  top: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #b4b4b42b;
  background-color: #444444;
  z-index: 100;
  padding: 0.5rem;
}
