.searchBoards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #b4b4b42b;
}
.input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  margin-bottom: 0.5rem;
  margin: 2rem;
}
