.middleLayer {
  color: black;
  overflow-y: scroll;
}
.boardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
  width: 100%;
}
