.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid #b4b4b42b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.optionHeader {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  font-size: 0.9rem;
}
.labelInputGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: 1rem;

  width: calc(100% - 1rem);
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.labelInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  padding: 0;
  font-size: 0.75rem;
  flex-basis: 0;
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
}
.label {
  margin: 0;
  margin-right: 0;
  font-size: 0.7rem;
  text-align: left;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.numberInput {
  background-color: #444444;
  color: white;
  border: 1px solid #b4b4b42b;
  height: 1rem;
  border-radius: 5px;
  margin: 0;
  padding: 0.5rem;

  width: calc(100% - 2rem);
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.75rem;
}

.numberInput:hover {
  cursor: pointer;
}

.colorInput {
  border: 1px solid #b4b4b42b;
  border-width: 2px;
  border-radius: 5px;
  margin: 0;
  padding: 1rem;
  flex-grow: 1; /* Make the input take the available width */
  margin-right: 1rem; /* Add a 1rem margin to the right */
  font-size: 0.75rem;
  width: calc(100% - 1rem);
  flex-grow: 1;
  flex-shrink: 1;
}
.colorInput:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #444444;
  color: white;
  border: 1px solid #b4b4b42b;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0;

  font-size: 0.65rem;
  width: calc(100% - 1rem);
  flex-grow: 1;
  flex-shrink: 1;
}
.dropdown:hover {
  cursor: pointer;
}

.icon {
  height: 15px;
  width: 15px;
}

.radioInput {
  display: none;
}

/* Style the image to look like a radio button */
.radioImage {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  transition: transform 0.2s ease; /* Optional for visual effect */
  padding: 0.5rem;
  object-fit: contain;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.radioImage:hover {
  cursor: pointer;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #b4b4b42b;
  border-radius: 5px;
  width: calc(100% - 1rem);
  flex-grow: 1;
  flex-shrink: 1;
}

/* When the radio button is checked, apply a style */
.radioImage.checked {
  border-radius: 5px;
  background-color: #0000002b;
}
