.icon {
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.icon:hover {
  background-color: #007bff;
}

.iconSelected {
  height: 3rem;
  width: 3rem;
  border-radius: 10px;

  cursor: pointer;
  background-color: #007bff;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tools {
  position: absolute;
  display: flex;

  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  background-color: #444444;
  border: 1px solid white;
}

.button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: transparent !important;
}



